{% extends '_base.html' %}

{% block title %}Pressure List{% endblock title %}

{% block content %}
<a class="btn btn-primary" href="{% url 'pressure_create' %}" role="button">Add Pressure</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Systolic</th>
        <th scope="col">Diastolic</th>
        <th scope="col">Heart Rate</th>
      </tr>
    </thead>
  {% for pressure in pressure_list %}
    <div>
        <tbody>
            <tr>
              <th scope="row">{{ pressure.created|date }}</th>
              <td>{{ pressure.systolic_pressure }}</td>
              <td>{{ pressure.diastolic_pressure}} </td>
              <td>{{ pressure.heart_rate }} </td>
              <td><a href="{% url 'pressure_delete' pressure.pk %}">Delete</a></td>
            </tr>
        </tbody>
    </div>
  {% endfor %}
</table>
{% endblock content %}