{% extends '_base.html' %}

{% block title %}Pressure List{% endblock title %}

{% block content %}

<div class="class="btn-group btn-group-lg" role="group"">
  <button type="button" class="btn btn-primary">
    Average systolic <span class="badge text-bg-secondary">{{ average_systolic_pressure }}</span>
  </button>
  <button type="button" class="btn btn-primary">
    Average diastolic <span class="badge text-bg-secondary">{{ average_diastolic_pressure }}</span>
  </button>
</div>

<br>
<a class="btn btn-secondary" href="{% url 'pressure_create' %}" role="button">Add Pressure</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Systolic</th>
        <th scope="col">Diastolic</th>
        <th scope="col">Heart Rate</th>
      </tr>
    </thead>
  {% for pressure in page_obj %}
    <div>
        <tbody>
            <tr>
              <th scope="row">{{ pressure.created|date }}</th>
              <td>{{ pressure.systolic_pressure }}</td>
              <td>{{ pressure.diastolic_pressure}} </td>
              <td>{{ pressure.heart_rate }} </td>
              <td><a href="{% url 'pressure_delete' pressure.pk %}">Delete</a></td>
            </tr>
        </tbody>
    </div>
  {% endfor %}
  
</table>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock content %}